
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.message-box {
  height: 500px;
  border: 1px solid #dddddd;
  overflow: scroll;
}

.message {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
  &--author {
    border-right: 1px solid #dddddd;
  }
}